.sqcolors {
	position: relative;
}
.sqcolors-panel.ui-grid-a{
	background-color: #FF0000;
}
.sqcolors-panel.ui-grid-b{
	background-color: #505050;
}
.sqcolors-panel.ui-grid-c{
	background-color: #0000FF;
}
.sqcolors-panel.ui-grid-b div.ui-block-a.sq-red{
	background-color: #FF0000;
}
.sqcolors-panel.ui-grid-b div.ui-block-b.sq-green{
	background-color: #00FF00;
}
.sqcolors-panel.ui-grid-b div.ui-block-c.sq-blue{
	background-color: #0000FF;
}
.sqcolors-panel.ui-grid-b div.ui-block-a.sq-rg{
	background-color: #FFFF00;
}
.sqcolors-panel.ui-grid-b div.ui-block-b.sq-rb{
	background-color: #FF00FF;
}
.sqcolors-panel.ui-grid-b div.ui-block-c.sq-gb{
	background-color: #00FFFF;
}
.sqcolors-panel.ui-grid-b span.ui-block-a.sq-black{
	background-color: #000000;
}
.sqcolors-panel.ui-grid-b span.ui-block-b.sq-white{
	background-color: #FFFFFF;
}
.sqcolors-panel.ui-grid-b span.ui-block-c.sq-custom{
	background-color: #999999;
}

.sqcolors-swatch {
	position: absolute;
	vertical-align: middle;
	/*background: url(jquery.minicolors.png) -80px 0;*/
	border: solid 1px #ccc;
	cursor: text;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.sqcolors-swatch-color {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.sqcolors input[type=hidden] + .sqcolors-swatch {
	width: 28px;
	position: static;
	cursor: pointer;
}

/* Panel */
.sqcolors-panel {
	position: absolute;
	width: 150px;
	height: 150px;
	background: white;
	border: solid 1px #CCC;
	box-shadow: 0 0 20px rgba(0, 0, 0, .2);
	z-index: 99999;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: none;
	overflow: visible;
}

.sqcolors-panel.sqcolors-visible {
	display: block;
}

/* Panel positioning */
.sqcolors-position-top .sqcolors-panel {
	top: -154px;
}

.sqcolors-position-right .sqcolors-panel {
	right: 0;
}

.sqcolors-position-bottom .sqcolors-panel {
	top: auto;
}

.sqcolors-position-left .sqcolors-panel {
	left: 0;
}

.sqcolors-with-opacity .sqcolors-panel {
	width: 194px;
}

.sqcolors .sqcolors-grid {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 150px;
	height: 150px;
	background: url(jquery.minicolors.png) -120px 0;
	cursor: crosshair;
}

.sqcolors .sqcolors-grid-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: none;
}

.sqcolors-slider-saturation .sqcolors-grid {
	background-position: -420px 0;
}

.sqcolors-slider-saturation .sqolors-grid-inner {
	background: url(jquery.minicolors.png) -270px 0;
}

.sqcolors-slider-brightness .sqcolors-grid {
	background-position: -570px 0;
}

.sqcolors-slider-brightness .sqcolors-grid-inner {
	background: black;
}

.sqcolors-slider-wheel .sqcolors-grid {
	background-position: -720px 0;
}

.sqcolors-slider,
.sqcolors-opacity-slider {
	position: absolute;
	top: 1px;
	left: 152px;
	width: 20px;
	height: 150px;
	background: white url(jquery.minicolors.png) 0 0;
	cursor: row-resize;
}

.sqcolors-slider-saturation .sqcolors-slider {
	background-position: -60px 0;
}

.sqcolors-slider-brightness .sqcolors-slider {
	background-position: -20px 0;
}

.sqcolors-slider-wheel .sqcolors-slider {
	background-position: -20px 0;
}

.sqcolors-opacity-slider {
	left: 173px;
	background-position: -40px 0;
	display: none;
}

.sqcolors-with-opacity .sqcolors-opacity-slider {
	display: block;
}

/* Pickers */
.sqcolors-grid .sqcolors-picker {
	position: absolute;
	top: 70px;
	left: 70px;
	width: 12px;
	height: 12px;
	border: solid 1px black;
	border-radius: 10px;
	margin-top: -6px;
	margin-left: -6px;
	background: none;
}

.sqcolors-grid .sqcolors-picker > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	border: solid 2px white;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.sqcolors-picker {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 2px;
	background: white;
	border: solid 1px black;
	margin-top: -2px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

/* Inline controls */
.sqcolors-inline {
	display: inline-block;
}

.sqcolors-inline .sqcolors-input {
	display: none !important;
}

.sqcolors-inline .sqcolors-panel {
	position: relative;
	top: auto;
	left: auto;
	box-shadow: none;
	z-index: auto;
	display: inline-block;
}

/* Default theme */
.sqcolors-theme-default .sqcolors-swatch {
	top: 5px;
	left: 5px;
	width: 18px;
	height: 18px;	
}
.sqcolors-theme-default.sqcolors-position-right .sqcolors-swatch {
	left: auto;
	right: 5px;
}
.sqcolors-theme-default.sqcolors {
	width: auto;
	display: inline-block;
}
.sqcolors-theme-default .sqcolors-input {
	height: 20px;
	width: auto;
	display: inline-block;
	padding-left: 26px;
}
.sqcolors-theme-default.sqcolors-position-right .sqcolors-input {
	padding-right: 26px;
	padding-left: inherit;
}

/* Bootstrap theme */
.sqcolors-theme-bootstrap .sqcolors-swatch {
	top: 3px;
	left: 3px;
	width: 28px;
	height: 28px;
	border-radius: 3px;
}
.sqcolors-theme-bootstrap.sqcolors-position-right .sqcolors-swatch {
	left: auto;
	right: 3px;
}
.sqcolors-theme-bootstrap .sqcolors-input {
	padding-left: 44px;
}
.sqcolors-theme-bootstrap.sqcolors-position-right .sqcolors-input {
	padding-right: 44px;
	padding-left: 12px;
}